<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Rewrite rules for IIS servers -->
        <rewrite>
            <rules>
                <!-- Handle static assets -->
                <rule name="Static Assets" stopProcessing="true">
                    <match url="^(dist|img|videos)/.*" />
                    <action type="None" />
                </rule>
                
                <!-- SPA routing - serve index.html for all other routes -->
                <rule name="SPA Routing" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
        </rewrite>
        
        <!-- MIME type mappings -->
        <staticContent>
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
            <mimeMap fileExtension=".otf" mimeType="font/opentype" />
            <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
            <mimeMap fileExtension=".webm" mimeType="video/webm" />
        </staticContent>
    </system.webServer>
</configuration>
